
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 1>, <&mo 2>;
        };
    };
   
    keymap {
        compatible = "zmk,keymap";
            
        base_layer {
            display-name = "base_layer";
            bindings = < 
                &kp N7     &kp N8     &kp N9     &kp EQUAL           &kp C_VOLUME_UP
                &kp N4     &kp N5     &kp N6     &kp MINUS           &kp C_VOLUME_DOWN
                &kp N1     &kp N2     &kp N3     &kp KP_MULTIPLY     &td0
                &kp N0           &kp RET         &kp KP_DIVIDE       &kp RSHIFT
            >;
        }; 
        
        layer_1 {
            display-name = "layer_1";
            bindings = <
                &kp F1                &kp F2           &kp F3           &kp F4     &kp PAGE_UP
                &kp F5                &kp F6           &kp F7           &kp F8     &kp PAGE_DOWN
                &kp F9                &kp F10          &kp F11          &kp F12    &trans
                &kp HOME                          &trans                &kp END    &kp PSCRN  
            >;
        };  

        layer_2 {
            display-name = "layer_2";
            bindings = <
                &sys_reset            &none            &none            &none     &bt BT_CLR_ALL
                &none                 &none            &none            &none     &none
                &bt BT_SEL 1          &bt BT_SEL 2     &bt BT_SEL 3     &none     &none
                &bt BT_SEL 0          &none                             &none     &studio_unlock  
            >;
        };
        
        extra_layer_3 {
            status = "reserved";
        };
        
        extra_layer_4 {
            status = "reserved";
        };

    };
};
